*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	background-color: #D8F4E3;
	color: #333332;
	font-family: Lora, serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
}

h1 {
	color: rgba(0, 0, 0, .75);
}

.container {
	height: 100%;
}

.left {
	background-color: #B0E4CE;
	border-right: 1px solid rgba(0, 0, 0, .05);
	height: 100%;
	position: fixed;
	width: 33.33%;
}

.resume {
	float: right;
	height: 100%;
	position: relative;
	width: 66.66%;
}

.static {
	background: rgba(0, 0, 0, .001);
	height: 290px;
	width: 85%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

.me-img {
	background: url(image.png) no-repeat;
	border-radius: 100%;
	background-position: center;
	height: 150px;
	width: 150px;
	background-size: 125%;
	margin: 0 auto;
}

.static h1 {
	font-family: Open Sans, sans-serif;
	font-size: 1.5em;
	text-align: center;
}

.static h1 em {
	color: rgba(0, 0, 0, .3);
	font-style: normal;
	font-weight: 700;
}

.static p {
	color: rgba(0, 0, 0, .75);
	font-size: .75em;
	text-align: center;
}

.static .name-text {
	margin: 0 auto;
	width: 85%;
}

a {
	text-decoration: none;
	color: rgba(0, 0, 0, .75);
}

.static .name-text .contact div i {
	color: rgba(0, 0, 0, .75);
	width: 20px;
	height: 20px;
	font-size: 20px;
	text-align: center;
	margin-right: 15px;
}

.static .name-text .contact div {
	text-align: center;
}

.static .name-text .contact div span {
	position: relative;
}

.static .name-text .contact div a:hover span::after {
	width: 100%;
}

.static .name-text .contact div span::after {
	content: "";
	position: absolute;
	background: rgba(0, 0, 0, .75);
	height: 1px;
	width: 0;
	bottom: 0;
	left: 0;
	transition: 0.3s;
}

.left .follow {
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 29%;
}

.left .follow .box i {
	display: inline-block;
	font-size: 30px;
	background: #D8F4E3;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	line-height: 60px;
	color: rgb(0, 0, 0);
	margin: 0 10px 10px 10px;
	transition-duration: 0.3s;
}

.left .follow .box a:hover i {
	background: #72B69B;
	border-radius: 5px;
	transform: rotate(-45deg) scale(0.8);
}

.wrap {
	margin: 0 auto;
	max-width: 975px;
	padding: 3em;
}

.wrap h1 {
	font-size: 1.75em;
}

.wrap p {
	color: rgba(0, 0, 0, .5);
}

.wrap p em {
	color: rgba(0, 0, 0, 1);
	font-style: normal;
	font-weight: 400;
}

.wrap section {
	margin: 100px auto;
}

.resume .wrap .info p:hover em,
.resume .wrap .address p:hover em,
.resume .wrap .award p:hover em,
.resume .wrap .ref p:hover em {
	color: #72B69B;
	font-weight: 500;
	-webkit-text-stroke: 0.2px rgb(64, 64, 64);
}

.resume .wrap .info:hover p,
.resume .wrap .address:hover p,
.resume .wrap .award:hover p,
.resume .wrap .ref:hover p {
	color: rgb(64, 64, 64);
	font-weight: 800;
}

.resume .wrap .work small {
	display: block;
	opacity: 0.7;
}

.resume .wrap .work ul li:hover span {
	color: #72B69B;
}

.resume .wrap .work {
	width: 50%;
	padding: 15px;
}

table {
	border: 0px solid #AEAEAE;
	width: 500px;
	height: 250px;
}

td {
	width: 500px;
	margin-left: 10px;
	text-align: center;
	border: 2px solid rgba(0, 0, 0, .75);
	color: rgba(0, 0, 0, 1);
	font-style: normal;
}

tr:hover td {
	color: rgba(0, 0, 0, .75);
	background: #72B69B;
	font-weight: 800;
}

ul {
	list-style-type: none;
	margin-top: -10px;
	max-width: 570px;
	padding: 0;
}

.box-set li {
	display: inline-block;
	background: rgba(0, 0, 0, .75);
	border-radius: 5px;
	color: #FFF;
	list-style: none;
	margin: 15px 15px 0 0;
	padding: 10px;
	text-align: justify;
}

.box-set li:hover {
	background: #72B69B;
}

.feedback-input {
	color: rgba(0, 0, 0, .75);
	background-color: transparent;
	border: 2px solid rgb(64, 64, 64);
	font-family: Lora, serif;
	font-weight: 400;
	font-size: 18px;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 15px;
	width: 100%;
}

textarea {
	height: 150px;
}

[type="submit"] {
	font-family: Lora, serif;
	width: 100%;
	background: rgb(64, 64, 64);
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	color: white;
	font-size: 24px;
	padding: 10px;
	margin-top: -5px;
	font-weight: 400;
}

[type="submit"]:hover {
	background: #72B69B;
}